
{% extends "layout.html" %}
{% load widget_tweaks %}


{% block contenido %}
    <form method="POST" action="." > 
        <div class="card card-primary" >
            <div class="" style=" color: #3371FF; font-size: 11px; height: 22px; ">
                <h3 class="card-title" >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="{{ logo_titulo }}" style="font-size: 15px;"></i>
                    <strong>{{ titulo_lista }}</strong> <strong>{{ request.user.nombres }}</strong>
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value='{{ action }}'>

                <!-- verificaciones de errores antes de guardar -->
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" style="font-size: 12px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <!-- /. verificaciones de errores antes de guardar -->

               

                {% for field in form.visible_fields %}
                    <div class="form-group" style="font-size: 12px;">
                        <label for="email">{{ field.label }}</label>
                        {{ field }} <!--|add_class:'form-control'|attr:'autocomplete:off'  -->
                    </div>

                {% endfor %}
                <!-- Para Confirmar contraseña dentro de loggin -->
              
                <FONT COLOR="red" style="font-size:12px;">&nbsp;&nbsp;<a id='error'></a></FONT>
                <FONT COLOR="green" style="font-size:12px;">&nbsp;&nbsp;<a id='noerror'></a></FONT>
                <br>
            <!-- /. Para Confirmar contraseña dentro de loggin -->

            <!-- Para mostrar contraseña -->
            <input type="checkbox" id="chec" name="chec" class="ver contrasenia" onclick="mostrarContrasenia_session()" >
		        <label for="chec" class="chec" font-size="2">Mostrar contraseña</label>
            <!-- /. Para mostrar contraseña -->
                
            </div>
            
            

            <!-- Botón para guardar nuevo -->
            <div class = "card-footer" >

                    <button type="submit" class = "btn btn-xs btn-primary float-right eventoAjax" >
                            <i class="fas fa-save"></i> Guardar
                        </button>


                <a href="{{ btn_cancelar }}" class = "btn btn-xs btn-danger" style="position: absolute; right: 125px;">
                    <i class="fas fa-times"></i></i> Cancelar
                </a> 
               
            </div>
            <!--/. Botón para guardar nuevo -->
        </div>
    </form>


{% endblock  %}



