{% extends "layout.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% load static %}



{% block contenido %}
<div class="card-body">
    <form method="POST" action="."> 
        <div class="card card-primary" >

        <!-- Título lista -->
            <div class="" style=" color: #3371FF; font-size: 11px; height: 22px; ">
                <h3 class="card-title" >
                    &nbsp;<i class="fas fa-plus" style="font-size: 15px;"></i>
                    <strong>{{ titulo_lista }}</strong> 
                </h3>
            </div>
        <!-- /. Título lista -->

    <!-- datos de Formulario-->        
        <div class="card-body">
                {% csrf_token %}

                <!-- verificaciones de errores antes de guardar -->
                    <!--{% if ya_existe == 'si' %}
                        <div class="alert alert-danger alert-dismissible" style="font-size: 12px;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-ban"></i> Alerta de Error!</h5>
                            
                            <ul>

                                <li>El usuario <strong>{{ user_post }}</strong> ya existe, ingrese uno diferente</li>
                            </ul>
                        </div> 
                    {% endif %}
                    -->
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" style="font-size: 12px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i>¡Alerta de Error!</h5>
                        <ul>
                            {% for field in form %}
                                <!--<li>{{field.label}}</li>-->
                                {% for error in field.errors %}
                                    <li> {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        
                    </div>
                {% endif %}
                    
                <!-- /. verificaciones de errores antes de guardar --> 

                <p style="color:red; font-size:10px; font-family: 'Verdana'; align='left'">*Al crear un usuario nuevo, este tendrá que ingresar su mismo usuario como contraseña ÚNICAMENTE por primera vez.
                   <br> *Campo obligatorio.</p>
               

                <div class="form-group" style="font-size: 12px;">
                    <label for="email"><label style="color:red;">*</label>Nombres:</label>
                    <input type="text" onpaste="return false" value="{{ nombres_post }}" name="nombres" onkeypress="return nombre(event)" required placeholder="Ingrese los nombres" minlength="5" maxlength="40" class="form-control" autocomplete="off" autofocus="" id="id_nombres">
                </div>
                
                <div class="form-group" style="font-size: 12px;">
                    <label for="email"><label style="color:red;">*</label>Apellidos:</label>
                    <input type="text" onpaste="return false" value="{{ apellidos_post }}" name="apellidos" onkeypress="return nombre(event)" required placeholder="Ingrese los apellidos" minlength="5" maxlength="40" class="form-control" autocomplete="off" id="id_apellidos">
                </div>
         
                <div class="form-group" style="font-size: 12px;">
                    <label style="font-size: 13px; ">&nbsp;<label style="color:red;">*</label>Departamento al que pertenecerá:</label>
                        <select name="id_departamento" id="id_departamento" required style=" background-color: #fff; font-size: 13px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 100%; height: 37px;">
                            <option  value="" >--------------</option>
                                {% for xx in departamento %}
                            <option value="{{ xx.id_departamento }}" >{{ xx.nombre }}</option> 
                                {% endfor %}
                    </select>
                </div>

                <div class="form-group" >
                    <label style="font-size: 13px; ">&nbsp;<label style="color:red;">*</label>Puesto a desempeñar:</label>
                    <select name="id_puesto" id="id_puesto" required style="background-color: #fff; font-size: 13px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 100%; height: 37px;" >
                        <option value="0">-----Seleccione puesto-----</option>
                            {% for yy in puesto %}
                        <option value="{{ yy.id_puesto }}" data-chained="{{ yy.id_departamento_id }}">{{ yy.nombre }}</option>    
                            {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label style="font-size: 13px; ">&nbsp;<label style="color:red;">*</label>Perfil del usuario:</label>
                    <select name="id_rol" id="id_rol" required style=" background-color: #fff; font-size: 13px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 100%; height: 37px;">
                            <option  value="" >--------------</option>
                                {% for xx in rol %}
                            <option value="{{ xx.id_rol }}" >{{ xx.nombre }}</option> 
                                {% endfor %}
                    </select>
                </div>

                <div class="form-group" style="font-size: 12px;">
                    <label for="email"><label style="color:red;">*</label>Usuario:</label>
                    <input type="text" onpaste="return false" value="{{ user_post }}" name="username" onkeypress="return usuario(event)" placeholder="Ejemplo: nombreapellido" maxlength="40" minlength="8" class="form-control" autocomplete="off" required="" id="id_username">
                </div>
                
                <div class="form-group" style="font-size: 12px;">
                    <label for="email"><label style="color:red;">*</label>Correo Electrónico:</label>
                    <input type="email" onpaste="return false" value="{{ email_post }}" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" name="email" minlength="10" maxlength="254" class="form-control" autocomplete="off" required id="id_email" placeholder="Ejemplo: nombre@dominio.com">
                    <span style="color:green; font-weight: bold;" id="emailOK"></span>
                    <span style="color:red; font-weight: bold;" id="emailnoOK"></span>
                </div>

                <div class="form-group" style="font-size: 12px;">
                    <label for="email">Fecha de Ingreso a Laborar:</label>
                    <input type="date" max="{{ fecha_actual }}" value="{{ fecha_actual }}" name="fch_ingreso_labores" class="form-control" autocomplete="off" required id="id_fch_ingreso_labores" >
                </div>

                
        </div>
    <!-- /. datos de Formulario-->    

            <!-- Botón para guardar nuevo -->
                <div class = "card-footer" >
                        <button type="submit" class = "btn btn-xs btn-primary float-right eventoAjax" >
                                <i class="fas fa-save"></i> Guardar
                        </button>


                    <a href="{{ btn_cancelar }}" class = "btn btn-xs btn-danger" style="position: absolute; right: 125px;">
                        <i class="fas fa-times"></i></i> Cancelar
                    </a> 
                
                </div>
            <!--/. Botón para guardar nuevo -->
        </div>
    </form>

</div>

<script type="application/javascript">
// VALIDAR CORREO
        document.getElementById('id_email').addEventListener('input', function() {
            campo = event.target;
            campo2 = event.target;
            valido = document.getElementById('emailOK');
            invalido = document.getElementById('emailnoOK');
                
            emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
            //Se muestra un texto a modo de ejemplo, luego va a ser un icono
            if (emailRegex.test(campo.value)) {
            document.getElementById("id_email").style.borderColor = "green";
            valido.innerText = "Válido";
            invalido.innerText = "";
            } 

            if (emailRegex.test(campo2.value)) {

            } else {
            document.getElementById("id_email").style.borderColor = "red";
            invalido.innerText = "Incorrecto";
            valido.innerText = "";
            }
            
        });
    //FIN VALIDAR CORREO

    // INICIO SELECT ANIDADO
        $("#id_puesto").chained("#id_departamento"); 
    // FIN SELECT ANIDADO

    // INICIO ESPACIOS EN BLNCO
        document.getElementById("id_nombres").addEventListener("keydown", teclear);
        var flag = false;
        var teclaAnterior = "";
        function teclear(event) {
        teclaAnterior = teclaAnterior + " " + event.keyCode;
        var arregloTA = teclaAnterior.split(" ");
        if (event.keyCode == 32 && arregloTA[arregloTA.length - 2] == 32) {
            event.preventDefault();  }
        }

        document.getElementById("id_apellidos").addEventListener("keydown", teclear);
        var flag = false;
        var teclaAnterior = "";
        function teclear(event) {
        teclaAnterior = teclaAnterior + " " + event.keyCode;
        var arregloTA = teclaAnterior.split(" ");
        if (event.keyCode == 32 && arregloTA[arregloTA.length - 2] == 32) {
            event.preventDefault();  }
        }

        document.getElementById("id_email").addEventListener("keydown", teclear);
        var flag = false;
        var teclaAnterior = "";
        function teclear(event) {
        teclaAnterior = teclaAnterior + " " + event.keyCode;
        var arregloTA = teclaAnterior.split(" ");
        if (event.keyCode == 32 && arregloTA[arregloTA.length - 2] == 32) {
            event.preventDefault();  }
        }
    // FIN ESPACIOS EN BLANCO
</script>

{% endblock  %}





