{% extends "layout.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% load static %}


{% block contenido %}
<div class="card-body">
        <form method="POST" action="." > 
            <div class="card card-primary" > 
                <div class="" style=" color: #3371FF; font-size: 11px; height: 22px; ">
                    <h3 class="card-title" >
                        &nbsp;<i class="fas fa-edit" style="font-size: 15px;"></i>
                        <strong>{{ titulo_lista }}</strong> <strong>{{nombre_usuario}}</strong>
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}

                    <!-- verificaciones de errores antes de guardar -->
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" style="font-size: 12px;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h5><i class="icon fas fa-ban"></i> ¡Alerta de Error!</h5>
                                
                                <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    
                        
                    <!-- /. verificaciones de errores antes de guardar -->

                    <div class="form-group" style="font-size: 12px;">
                        <label style="font-size: 13px; ">&nbsp;Departamento al que pertenece:</label>
                            <select name="id_departamento" id="id_departamento" required style=" background-color: #fff; font-size: 13px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 100%; height: 37px;">
                                <option  value="" >--------------</option>
                                    {% for xx in departamento %}
                                    {% if xx.id_departamento ==  seleccionar_dep  %}
                                        <option value="{{ xx.id_departamento }}" selected>{{ xx.nombre }}</option> 
                                    {% else %}
                                        <option value="{{ xx.id_departamento }}" >{{ xx.nombre }}</option>  
                                    {% endif %}
                                    {% endfor %}
                        </select> 
                    </div>

                    <div class="form-group" >
                        <label style="font-size: 13px; ">&nbsp;Puesto desempeñando:</label>
                        <select name="id_puesto" id="id_puesto" required style="background-color: #fff; font-size: 13px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 100%; height: 37px;" >
                            <option value="0">-----Seleccione puesto-----</option> 
                                {% for yy in puesto %}
                                {% if yy.id_puesto ==  seleccionar_puesto  %}
                                        <option value="{{ yy.id_puesto }}" selected data-chained="{{ yy.id_departamento_id }}">{{ yy.nombre }}</option> 
                                    {% else %}
                                        <option value="{{ yy.id_puesto }}" data-chained="{{ yy.id_departamento_id }}">{{ yy.nombre }}</option> 
                                    {% endif %}
                                
                                {% endfor %}
                        </select>
                    </div>

                    
                    <div class="form-group" style="font-size: 12px;">
                        <label style="font-size: 13px; ">&nbsp;Perfil del usuario:</label>
                            <select name="id_rol" id="id_rol" required style=" background-color: #fff; font-size: 13px; font-family: 'Verdana', sans-serif; border: 1px solid silver; border-radius: 4px; width: 100%; height: 37px;">
                                <option  value="" >--------------</option>
                                    {% for xx in rol %}
                                    {% if xx.id_rol ==  seleccionar_rol  %}
                                        <option value="{{ xx.id_rol }}" selected>{{ xx.nombre }}</option> 
                                    {% else %}
                                        <option value="{{ xx.id_rol }}" >{{ xx.nombre }}</option>  
                                    {% endif %}
                                    {% endfor %}
                        </select> 
                    </div>

                    {% for campo in form.visible_fields %}
                        <div class="form-group" style="font-size: 12px;">
                            <label for="email">{% if campo.label == 'Cambiar contrasenia' %}
                                Cambiar Contraseña <li style="color:red; font-size:10px; font-family: 'Verdana'; list-style: none;align='left'">*Al seleccionar "SI" se le generará el mismo usuario, y el sistema lo obligará a cambiarla.</li>
                            {% else %}
                                {% if  campo.label == 'Bloqueado' %}
                                    Acceso al Sistema
                                {% else %}
                                    {{ campo.label }}
                                {% endif %}
                            {% endif %}</label>
                            
                            {% if campo.label == 'Correo Electrónico' %}
                                {{ campo }}
                                <span style="color:green; font-weight: bold;" id="emailOK"></span>
                                <span style="color:red; font-weight: bold;" id="emailnoOK"></span>
                            {% else %}
                            {{ campo }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                </div>

                <!-- Botón para guardar nuevo -->
                <div class = "card-footer" >
                
                        <button type="submit" class = "btn btn-xs btn-primary float-right eventoAjax" >
                                <i class="fas fa-save"></i> Guardar
                            </button>


                    <a href="{{ btn_cancelar }}" class = "btn btn-xs btn-danger" style="position: absolute; right: 125px;">
                        <i class="fas fa-times"></i></i> Cancelar
                    </a> 
                
                </div>
                <!--/. Botón para guardar nuevo -->
            </div>
        </form>


    {% endblock  %}

    {% block javascript %}

    <script type="application/javascript">

        // INICIO VALIDAR nombre
            function nombre(e) {
                var key = e.keyCode || e.which,
                tecla = String.fromCharCode(key).toLowerCase(),
                letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
                especiales = [],
                tecla_especial = false;

                for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
                }

                if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
                }
            }
        // FIN VALIDAR nombre

        // INICIO VALIDAR USUARIO
            var anterior = 0;
            var contador = 0;
            function usuario(e) {
                var key = e.keyCode || e.which,
                tecla = String.fromCharCode(key).toLowerCase(),
                letras = "abcdefghijklmnñopqrstuvwxyz",
                especiales = [],
                tecla_especial = false;
                anterior = key;
                //alert(contador);

                for (var i in especiales) {
                if (key == especiales[i]) {
                    if (46 == anterior && contador==2) {
                        tecla_especial = false;
                        contador += 1;
                    }else {
                        tecla_especial = true;
                    break;
                    }
                    
                }
                }

                if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
                }
            }
        // FIN VALIDAR USUARIO
        

        // INICIO SELECT ANIDADO
            $("#id_puesto").chained("#id_departamento"); 
        // FIN SELECT ANIDADO

// VALIDAR CORREO
        document.getElementById('id_email').addEventListener('input', function() {
            campo = event.target;
            campo2 = event.target;
            valido = document.getElementById('emailOK');
            invalido = document.getElementById('emailnoOK');
                
            emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
            //Se muestra un texto a modo de ejemplo, luego va a ser un icono
            if (emailRegex.test(campo.value)) {
            document.getElementById("id_email").style.borderColor = "green";
            valido.innerText = "Válido";
            invalido.innerText = "";
            } 

            if (emailRegex.test(campo2.value)) {

            } else {
            document.getElementById("id_email").style.borderColor = "red";
            invalido.innerText = "Incorrecto";
            valido.innerText = "";
            }
            
        });
    //FIN VALIDAR CORREO

    // INICIO ESPACIOS EN BLNCO
        document.getElementById("id_nombres").addEventListener("keydown", teclear);
        var flag = false;
        var teclaAnterior = "";
        function teclear(event) {
        teclaAnterior = teclaAnterior + " " + event.keyCode;
        var arregloTA = teclaAnterior.split(" ");
        if (event.keyCode == 32 && arregloTA[arregloTA.length - 2] == 32) {
            event.preventDefault();  }
        }

        document.getElementById("id_apellidos").addEventListener("keydown", teclear);
        var flag = false;
        var teclaAnterior = "";
        function teclear(event) {
        teclaAnterior = teclaAnterior + " " + event.keyCode;
        var arregloTA = teclaAnterior.split(" ");
        if (event.keyCode == 32 && arregloTA[arregloTA.length - 2] == 32) {
            event.preventDefault();  }
        }

        document.getElementById("id_email").addEventListener("keydown", teclear);
        var flag = false;
        var teclaAnterior = "";
        function teclear(event) {
        teclaAnterior = teclaAnterior + " " + event.keyCode;
        var arregloTA = teclaAnterior.split(" ");
        if (event.keyCode == 32 && arregloTA[arregloTA.length - 2] == 32) {
            event.preventDefault();  }
        }
    // FIN ESPACIOS EN BLANCO

        </script>
</div>
{% endblock  %}


