{% extends "listar_principal.html" %} 
{% load humanize %} 
{% load widget_tweaks%} 
{% load static %} 

{% block columnas %}

<tr style="font-size: 15px;">
  <!--<th scope="col" style="width: 5%; text-align:center">Id</th>-->
  <th scope="col" style="width: 20%; text-align: center">Nombre</th>
  <th scope="col" style="width: 10%; text-align: center">Usuario</th> 
  <th scope="col" style="width: 15%; text-align: center">Perfil</th>
  <th scope="col" style="width: 10%; text-align: center">Estatus</th>
  <th scope="col" style="width: 10%; text-align: center">Bloqueado</th>
  <th scope="col" style="width: 13%; text-align: center">Departamento</th>
  <th scope="col" style="width: 13%; text-align: center">Puesto</th>
  <th scope="col" style="width: 15%; text-align: center">Opciones</th>
</tr>

{% endblock %} 
{% block filas %} 
{% for x in object_list %}
<tr>
  <!--<td>{{ x.id_motivo }}</td>-->
  <td>{{ x.nombres }} {{ x.apellidos }}</td>
  <td style="text-align: center">{{ x.username }}</td>
  <td style="text-align: center">{{ x.id_rol }}</td>
  
    {% if x.estado == '1' %} 
        <td style="text-align: center; color:green; font-weight: bold;" > Activo </td>
    {% else %} 
        <td style="text-align: center; color:red; font-weight: bold;"> Inactivo </td>
    {% endif %}
  
  <td style="text-align: center">
    {% if x.bloqueado == '1' %} SÍ {% else %} NO {% endif %}
  </td>
  <td style="text-align: left">
    {% for w in departamento%} {% if w.id_departamento == x.id_departamento %}
    {{ w.nombre }} {% endif %} {% endfor %}
  </td>
  <td style="text-align: left">
    {% for z in puesto%} 
        {% if z.id_puesto == x.id_puesto %} {{ z.nombre }} 
        {%endif %} 
    {% endfor %}
  </td>

  <td style="text-align: center">
    <a href="{% url 'usuario:editar_usuarios' x.id %}" class="btn btn-xs btn-warning" title="Editar" ><i class="fas fa-edit"></i></a>
    
    <a href="{% url 'usuario:borrar_usuarios' x.id %}" class="btn btn-xs btn-danger btn-borrar" title="Borrar" ><i class="fas fa-trash-alt"></i></a>
  </td>
</tr>
{% endfor %} 
{% if permisos.ver_pantalla == 0 %}
    <div class="card-body">
    <div
        class="alert alert-warning fade in alert-dismissible show"
        style="margin-top: 18px; font-size: 20px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <!--<span aria-hidden="true" style="font-size:20px">×</span>-->
        </button>
        <strong
        >¡No cuenta con los permisos necesarios para visualizar esta
        opción!</strong
        >
        <br />Comuníquese con el administrador del sistema.
    </div>
    </div>
{% endif %} 
{% endblock %} 


{% block javascript %}

<script type="application/javascript">

  $(function () {
  $('#data').DataTable({
      responsive: true,
      autoWidth: false,
      "language": {
                      url: '{% static 'lib/DataTables/spanish.txt' %}'
                      },
      destroy: true,
      deferRender: true,

      initComplete: function (settings, json) {

      }
      });
  });
</script>

{% endblock %}
