
{% extends "listar_principal.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% load static %}


{% block columnas %}
        <tr>
                        <!--<th scope="col" style="width: 5%; text-align:center">Id</th>-->
                        <th scope="col" style="width: 25%; text-align:center">Nombre</th>
                        <th scope="col" style="width: 25%; text-align:center">Fecha de Creación</th>
                        <th scope="col" style="width: 10%; text-align:center">Estatus</th>
                        <th scope="col" style="width: 25%; text-align:center">¿Tiene permisos asignados?</th>
                        <th scope="col" style="width: 15%; text-align:center">Opciones</th>
    </tr>
                    
{% endblock  %}


{% block filas %}

    {% for x in object_list %}
                            <tr>
                                <!--<td>{{ x.id_motivo }}</td>-->
                                <td>{{ x.nombre }} </td>
                                <td style="text-align:center">{{ x.fch_creacion }} </td>
                                <td style="text-align:center">{% if x.estado == '1' %}
                                    <strong style="color: green">Activo</strong>
                                {% else %}
                                <strong style="color: red">Inactivo</strong>
                                {% endif %}</td>
                                <td style="text-align:center">{% if x.tiene_permisos == 'Si' %} 
                                    <strong style="color: green">{{x.tiene_permisos}}</strong>
                                {% else %}
                                <strong style="color: red">{{x.tiene_permisos}}</strong>
                                {% endif %}</td>
                                <td style="text-align:center"> 
                                    <a href="{% url 'perfiles_roles:editar_perfiles_roles' x.id_rol%}" class="btn btn-xs btn-warning" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'perfiles_roles:borrar_perfiles_roles' x.id_rol%}"  class="btn btn-xs btn-danger btn-borrar" title="Borrar" ><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

   
            {% if permisos.ver_pantalla == 0 %}
                <div class="card-body">
                    <div class="alert alert-warning fade in alert-dismissible show" style="margin-top:18px; font-size:20px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <!--<span aria-hidden="true" style="font-size:20px">×</span>-->
                    </button>    <strong>¡No cuenta con los permisos necesarios para visualizar esta opción!</strong> <br>Comuníquese con el administrador del sistema.
                    </div>
                </div>
            {% endif %}
   

                        

{% endblock  %}

{% block javascript %}

   
    <script type="application/javascript">

    $(function () {
    $('#data').DataTable({
        responsive: true,
        autoWidth: false,
        "language": {
                        url: '{% static 'lib/DataTables/spanish.txt' %}'
                        },
        destroy: true,
        deferRender: true,
            
        initComplete: function (settings, json) {

        }
        });
    });

        
    </script>
   




{% endblock  %}