
/* para los bordes al validar y ser exitoso 
.form input { border-color:#2ecc71; }
.input-group-text {border-color:#2ecc71; }*/

/*para los bordes al validar y ser erroneo 
.form input.error { border-color:#e74c3c; }
.input-group-text.error {border-color:#e74c3c; }*/




