{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block contenido %}

<style>
.slider {
    width:100%;
    margin: auto;
    overflow: hidden;
}

.slider li {
    list-style: none;
    width:100%;/*no afecta*/
}

.slider p {
    width:660px; 
    height:160px; 
    display:block; 
    margin:auto;
    font-family: Arial;
    font-weight: bold;
    color: #6CA3FC;
    font-size: 20px;
}

.slider ul {
    display: flex; /*para colocarlas una al lado de la otra*/
    padding: 0%
    width: 100%;

    animation: cambio 15s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
/*
.slider:nth-child(2) ul {
    display: flex; 
    padding: 0%
    width: 100%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}*/

.slider img {
    width:655px; 
    height:120px; 
    display:block; 
    margin:auto;
    border-radius: 5px;
}

@keyframes cambio {
    /*el timepo de cambio de cada imagen es de un segundo*/
    0% { margin-left: 0; }
    40% { margin-left: 0; }
    /*la segunda imagen estará 4 segundos y la primera un segundo*/
    50% { margin-left: -105%; }
    100% { margin-left: -105%; }

    /*50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }*/
}
</style>

<div class="card-body">
    <div class="row" >

        <!--Primer contenedor de información-->
        <div class="col-lg-6 col-6" >
            <div class=""><!--small-box bg-info-->
            
                <!--<div class="inner" style="background-color: #FFFF; ">
                    <div class="image" >
                        <img src="{{ request.user.get_image }}" class="img-circle elevation-1" alt="User Image" style="width:330px; height:333px;display:block; margin:auto;">
                    </div>
                </div>-->
                <div  class="" >
                    <a href="{{ request.user.get_image }}" data-toggle="lightbox" data-title="sample 1 - white">
                        <img src="{{ request.user.get_image }}" class="img-fluid mb-2 img-circle elevation-1" alt="white sample" style="width:330px; height:333px; display:block; margin:auto; outline:none;">
                    </a>
                </div>
            

            </div>
        
        </div>
        <!-- /. Primer contenedor de información-->

        <!--Segundo contenedor de información-->
        <div class="col-lg-6 col-6">
            <div class=""><!--small-box bg-info-->
                <div class="inner" style="color: black; background-color: #FFFF;">
                    <h4><strong ></i>Departamento: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ departamento.nombre }}</h4>
                    <h4><strong >Puesto: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ puesto.nombre }}</h4>
                    <h4><strong >Estado: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ estado }}</h4>
                    <h4><strong >Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ request.user.email}}</h4>
                    <h4><strong >Intentos fallidos login: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ request.user.intentos_fallidos }}</h4>
                    <h4><strong >Ingreso a labores: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ request.user.fch_ingreso_labores|naturalday }}</h4>
                    <h4><strong >Último inicio de sesión:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ request.user.fch_ultimo_login }}</h4>
                    <h4><strong >Último cambio contraseña: &nbsp;&nbsp;&nbsp;</strong> {{ request.user.fch_ultimo_cambio_contrasenia}}</h4>
                    <h4><strong >Próximo cambio contraseña:&nbsp; </strong> {{ request.user.fch_cambio_password|naturalday }}</h4>
                </div>
            </div>
        </div>
        <!-- /. Segundo contenedor de información-->
    

    </div>
</div>

<hr>
<div class="card-body">
    <div class="row" >
        <div class="col-lg-6 col-6">
            <div class="slider">
                <ul>
                    <li><img src="{% static 'img/slider/mision.png' %}" alt="" ></li>
                    <li><p align="center"> &nbsp;Generar crecimiento y expansión para las MYPYME y PYMES, que no pueden contar con un sistema 
              centralizado de datos para administrar sus clientes.</p></li>
                    <!--<li><img src="{% static 'img/slider/vision.png' %}" alt="" ></li>
                    <li><img src="{% static 'img/slider/misionno.png' %}" alt="" ></li>-->
                </ul>
            </div>
            
        </div>

        <div class="col-lg-6 col-6">
            <div class="slider">
                <ul>
                    <li><p align="center">Ser parte de la incorporación tecnológica hondureña, para fomentar el uso de 
                    sistemas de información que matengan una comunicación eficiente y eficaz hacia los
                    clientes que se relacionan directa o indirectamente con las pequeñas y medianas empresas.</p></li>
                    <li><img src="{% static 'img/slider/vision.png' %}" alt="" ></li>
                    <!--<li><img src="{% static 'img/slider/mision-vision-valores.png' %}" alt="" ></li>
                    <li><img src="{% static 'img/slider/misionno.png' %}" alt="" ></li>-->
                </ul>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}


